/**
 * It contains the style for archive page
 */
/** post card */
.post-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 24px;
}

.post-card:not(:first-child) {
  margin-top: 60px;
}

.post-card__image {
  width: 100%;
  aspect-ratio: 800/600;
  object-fit: cover;
  border: none;
  border-radius: 24px;
}

.post-card__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-card__category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.post-card__category-item--link {
  padding: 4px 6px;
  color: white;
  background-color: #f92020;
  border-radius: 14px;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}

.post-card__category-item--link:hover {
  background-color: #d10000;
}

.post-card__title--link {
  color: #111111;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.post-card__title {
  font-size: 1em;
}

.post-card__title--link:hover {
  color: #4a4a4a;
}

.post-card__post-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
  color: #515151;
  font-size: 0.8em;
}

.post-card__author {
  font-weight: 700;
  color: #f92020;
}

.post-card__author:hover {
  color: #d10000;
}

.post-card__excerpt {
  color: #111111;
  font-size: 1em;
  font-family: "georgia", "garamond", "Times New Roman", serif;
}

/** Post card variants */
.post-card--large {
  display: grid;
  grid-template-columns: 1fr;
}

.post-card--large--first .post-card__title--link {
  margin-top: 0.4em;
  font-size: 1.8em;
}

/** media query for the post card */
@media screen and (max-width: 768px) {
  .post-card {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
  .post-card__post-meta {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
  }
}
/** Category archive page */
.category-archive-page,
.author-archive-page {
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
}

/** Author archive page */
.author-meta {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
  font-size: 1em;
}

.author__image {
  height: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.author__info__socials {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}

.author__info__socials__item {
  height: 16px;
  width: 16px;
  color: #515151;
}
.author__info__socials__item:hover {
  color: black;
}

/** media query for the author archive page */
@media screen and (max-width: 768px) {
  .author__image {
    height: 4rem;
  }
}
@media screen and (max-width: 512px) {
  .author__image {
    height: 2rem;
  }
}
/** pagination */
.pagination__wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 0 1em;
}
.pagination__wrapper .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}
.pagination__wrapper .page-numbers:not(.dots) {
  height: 2.25em;
  width: 2.25em;
  border: none;
  color: white;
  background-color: #515151;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.pagination__wrapper .page-numbers:not(.dots):hover {
  background-color: #666666;
  cursor: pointer;
}

/** media query for pagination */
@media screen and (max-width: 768px) {
  .pagination__wrapper {
    font-size: 0.9em;
  }
  .pagination__wrapper .nav-links {
    column-gap: 0.4em;
  }
  .pagination__wrapper .page-numbers:not(.dots) {
    height: 1.8em;
    width: 1.8em;
  }
}

/*# sourceMappingURL=archive-style.css.map */
