/**
 * Single Post page
 * It contains styles for the single page type.
 */

/** Comment form */
.comment-form__title {
	font-size: 1.4em;
	font-weight: 700;
	margin-bottom: 0.4em;
}

.comment-form {
	margin-bottom: 4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.4em 1em;
}

.comment-form label {
	font-size: 0.7em;
	color: #515151;
}

.comment-form textarea,
.comment-form input[type="text"] {
	width: 100%;
	padding: 0.8em;
	border: solid 1px #ccc;
}

.comment-form input[type="checkbox"] {
	height: 1.6em;
	width: 1.6em;
	margin-right: 1em;
}

.comment-form input[type="submit"] {
	padding: 1em 1.2em;
	width: fit-content;
	color: #fff;
	background-color: #666;
	border: none;
	border-radius: 0.4em;
	font-size: 0.8em;
	font-weight: 700;
}

.comment-form input[type="submit"]:hover {
	background-color: #515151;
	cursor: pointer;
}

.comment__grid--span-2,
.comment-form-comment,
.comment-form-url,
.comment-form-cookies-consent,
.logged-in-as {
	grid-column: 1/span 2;
}

.comment-form-comment {
	display: flex;
	flex-direction: column;
}

.comment__notes {
	color: #515151;
	font-size: 0.8em;
	display: block;
}

.comment__notes a {
	width: fit-content;
	text-decoration: underline;
}

.comment__required {
	color: #515151;
	font-size: 0.7em;
}

/** media query for comment form */
@media screen and (max-width: 768px) {

	.comment-form {
		margin-bottom: 2em;
	}

	.comment-form * {
		grid-column: 1/span 2;
	}
}

/** Single Post page */
.article__categories {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 0.8em;
}

.article__category__link {
	padding: 0.3em 0.5em;
	color: #fff;
	background-color: #f92020;
	border-radius: 14px;
	font-size: 0.7em;
	font-weight: 700;
	text-transform: uppercase;
}

.article__title {
	font-size: 2.8em;
	font-weight: 700;
}

.article__excerpt {
	margin-top: 0.8em;
	margin-bottom: 2em;
	color: #111;
	font-size: 1em;
	font-family: georgia, garamond, "Times New Roman", serif;
}

.article__author {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 12px;
	margin-bottom: 2em;
}

.article__author__avatar {
	height: 2.25em;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.article__author__meta {
	font-size: 0.8em;
}

.article__author__link {
	color: #f92020;
	font-size: 1.2em;
	font-weight: 700;
}

.article__thumbnail-image {
	width: 100%;
	height: auto;
	aspect-ratio: 4/3;
	object-fit: cover;
	border: none;
	border-radius: 24px;
	margin-bottom: 2em;
}

.article__content {
	width: 100%;
	overflow-x: auto;
	color: #111;
	font-size: 1em;
	font-family: georgia, garamond, "Times New Roman", serif;
}

.article__content * {
	margin: 1em auto;
}

.article__content a {
	color: #f92020;
}

.article__note {
	color: #111;
	margin-bottom: 1em;
	font-style: italic;
	font-size: 0.8em;
}

.article__note a {
	color: #f92020;
	text-decoration: underline;
	font-style: italic;
}

.article__about-author {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 24px;
	margin-top: 4em;
	margin-bottom: 2em;
}

.article__about-author__avatar {
	height: 4em;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.article__about-author__meta__name {
	color: #f92020;
	font-size: 1em;
	font-weight: 700;
}

.article__about-author__horizontal_line {
	margin: 0.3em 0;
	width: 100%;
	height: 2px;
	background-color: #ccc;
	border: none;
}

.article__about-author__meta__social {
	display: flex;
	gap: 12px;
	margin: 1em 0;
}

.article__about-author__meta__social__link {
	color: #515151;
}

.article__about-author__meta__social__link:hover {
	color: #000;
}

.article__about-author__meta__description {
	color: #111;
	font-size: 0.9em;
	font-family: georgia, garamond, "Times New Roman", serif;
}

.logged-in-as {
	font-size: 0.8em;
}

.logged-in-as a {
	margin: 0.4em 0;
	color: #515151;
	text-decoration: underline;
}

.logged-in-as a:hover {
	color: #d10000;
}

.logged-in-as .required-field-message {
	display: none;
}

.single-post-page .nav-links {
	margin: 3em 0;
	padding: 2em 0;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	display: flex;
	justify-content: space-between;
}

.single-post-page .nav-next {
	text-align: right;
}

.single-post-page .nav-previous,
.single-post-page .nav-next {
	flex-basis: 50%;
}

.single-post-page .nav-previous a,
.single-post-page .nav-next a {
	display: flex;
	flex-direction: column;
}

.single-post-page .nav-subtitle {
	color: #515151;
	font-size: 0.8em;
}

.single-post-page .nav-title {
	color: #111;
	font-size: 1.2em;
	font-weight: 700;
}

.comment-form-cookies-consent {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.comment-form-cookies-consent *:hover {
	cursor: pointer;
}

/** media query for Single Post page */
@media screen and (max-width: 768px) {

	.article {
		font-size: 18px;
	}

	.article__category__link {
		font-size: 0.7rem;
	}

	.article__title {
		font-size: 1.8em;
	}

	.article__about-author {
		margin-top: 2em;
	}

	.article__about-author__avatar {
		height: 3em;
	}

	.single-post-page {
		font-size: 20px;
	}

	.single-post-page .nav-links {
		margin-top: 2em;
		margin-bottom: 0;
		padding: 1.2em 0;
		flex-direction: column;
		row-gap: 1.4em;
	}

	.single-post-page .nav-next {
		text-align: left;
	}

	.single-post-page .nav-title {
		font-size: 1em;
	}
}

/** Comments */
.comments-area {
	margin-top: 4em;
}

.comments__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	gap: 0.2em;
}

.comments__header__title {
	font-size: 1.4em;
	font-weight: 700;
}

.comments__header__number-of-comments {
	color: #515151;
	font-size: 0.7em;
	font-weight: 400;
}

.comments__header__number-of-comments .fa-solid {
	margin-right: 0.6em;
	color: #000;
	font-size: 0.8em;
}

.single-comment {
	color: #111;
	margin: 2em 0;
	display: flex;
	flex-direction: column;
}

.single-comment:hover {
	background-color: #f5f5f5;
}

.comment__list > .children {
	margin-left: 2em;
}

.single-comment__author {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1em;
	align-items: center;
	margin-bottom: 1em;
}

.single-comment__author__avatar {
	width: 2.25em;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.single-comment__author__meta__name__wrapper {
	font-size: 1em;
}

.single-comment__author__meta__name {
	font-size: 1.2em;
	font-weight: 700;
}

.single-comment__author__meta__timestamp {
	font-size: 0.7em;
}

.single-comment__content {
	margin-bottom: 1.5em;
	font-size: 0.8em;
}

.single-comment__like__star {
	color: #2ea2cc;
	margin-bottom: 1.6em;
}

.single-comment__like {
	font-size: 0.6em;
	width: fit-content;
}

.single-comment__like:hover > .single-comment__like__star {
	color: #ffc70f;
}

.single-comment__reply-link {
	color: #515151;
	font-size: 0.7em;
	font-weight: 700;
	width: fit-content;
}

.single-comment__reply-link:hover {
	color: #d10000;
}

.comments-pagination {
	width: 100%;
	margin-bottom: 2em;
}

.comments-pagination .nav-links {
	flex-direction: row;
	justify-content: center;
	column-gap: 0.8em;
}

.comments-pagination .page-numbers:not(.dots) {
	height: 1.8em;
	width: 1.8em;
	border: none;
	color: #fff;
	background-color: #515151;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 0.8em;
}

.comments-pagination .page-numbers:not(.dots):hover {
	background-color: #666;
	cursor: pointer;
}

/** media query for Comments */
@media screen and (max-width: 768px) {

	.comments-area {
		margin-top: 2em;
		font-size: 18px;
	}

	.comments__header__title {
		font-size: 1.2em;
	}

	.comment__list > .children {
		margin-left: 1em;
	}
}
