/**
 * Styles for the single movie page
 * It contains styles for the cover, cast & crew, and review section.
 */

/** Variables */

$primary-bg-color: #1f1f1f;
$accent-color: #d13223;
$mobile-break-point: 768px;
$desktop-break-point: 1200px;
$nav-bg-color: #111;

@import "media";

/** Cover section */

.movie-cover {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	column-gap: 32px;
	color: #fff;

	padding: 35px 112px;
}

.cover-image {
	width: 100%;
	height: 876px;
	object-fit: cover;
}

.info {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: self-start;
	font-family: Heebo, cursive;
}

.movie-cover-title {
	font-family: "Big Shoulders Display", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 88px;
	line-height: 96px;
}

.basic-meta-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 64px;
	margin-bottom: 32px;
	padding: 2px 0;
	white-space: nowrap;
}

.basic-meta-item {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	//line-height: 100%;
}

.basic-meta-item:not(:first-child)::before {
	content: "•";
	margin: 0 18px;
}

.rating {
	display: flex;
	column-gap: 12px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.rating-icon {
	height: 32px;
	width: 32px;
	object-fit: cover;
}

.movie-cover-description {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}

.movie-genre {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 16px;
	row-gap: 8px;
	list-style: none;

	margin-top: 40px;
	margin-bottom: 56px;

	padding: 0;

	.movie-genre-item {
		padding: 8px 16px;
		outline: 1px solid #fff;
		border-radius: 24px;
		outline-offset: -1px;
		white-space: nowrap;
		font-size: 16px;
		line-height: 24px;
	}
}

.movie-director {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	font-size: 18px;
	line-height: 32px;
}

.movie-director-label {
	font-weight: 700;
}

.movie-director-list {
	list-style: none;
	padding: 0;

	display: flex;
	font-size: 18px;
	line-height: 32px;
}

.movie-director-item {
	font-size: unset;
}

.movie-director-item:not(:first-child)::before {
	content: '\2022';
	margin: 0 8px;
}

.movie-watch-btn {
	padding: 16px 40px 16px 0;
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	background-color: transparent;
	width: 264px;
	height: 56px;

	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: right;

	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 16px;

	margin-top: 65px;
}

.circle-in-btn {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #f00;

	transform: translate(-14px, 0);

	display: grid;
	place-items: center;

	.play-icon {
		transform: translate(2px, 0);
	}
}

/** Media query for cover section mobile view */

@media screen and (max-width: $desktop-break-point) {

	/** Movie cover section */

	.movie-cover {
		display: flex;
		flex-direction: column;

		padding: 0;
	}

	.cover-image {
		height: 268px;
		width: 100%;
	}

	.info {
		padding: 16px 24px 0 24px;
	}

	.movie-cover-title {
		font-size: 32px;
		line-height: 40px;
	}

	.basic-meta-info {
		margin: 16px 0;
	}

	.basic-meta-item {
		font-size: 14px;
		line-height: 21px;
	}

	.basic-meta-item:not(:first-child)::before {
		margin: 0 12px;
	}

	.rating {
		column-gap: 8px;
	}

	.rating-icon {
		height: 20px;
		width: 20px;
	}

	.movie-cover-description {
		order: 2;
		font-size: 14px;
		line-height: 24px;
	}

	.movie-genre {
		order: 1;
		font-size: 14px;
		line-height: 24px;

		column-gap: 12px;

		margin-top: 16px;
		margin-bottom: 24px;

		padding: 0;

		.movie-genre-item {
			padding: 4px 12px;
			font-size: 14px;
		}
	}

	.movie-director {
		order: 3;
		font-size: 14px;
		line-height: 21px;
		margin-top: 24px;
	}

	.movie-director-item {
		font-size: 14px;
		line-height: 21px;
	}

	.movie-watch-btn {
		order: 3;
		padding: 12px 24px 12px 0;
		width: 201px;
		height: 48px;

		font-size: 16px;
		line-height: 24px;

		column-gap: 12px;

		margin-top: 32px;
	}

	.circle-in-btn {
		width: 70px;
		height: 70px;

		transform: translate(-8px, 0);

		.play-icon {
			width: 18px;
			height: 24px;
		}
	}
}

/** Movie cast and crew section */

.movie-cast-crew-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100% / 2, max(250px, 100% / 5)), 1fr));
	column-gap: 32px;
	row-gap: 32px;
	padding: 0;
	list-style: none;
}

.movie-cast-crew-item {
	display: flex;
	flex-direction: column;
	background-color: #2b2b2b;
}

.movie-cast-crew-image {
	width: 100%;
	height: 248px;
	object-fit: cover;
}

.movie-cast-crew-name {
	padding: 24px 50px;
	font-family: Heebo, cursive;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	//line-height: 100%;
	text-align: center;
}

.view-all {
	font-family: Heebo, cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;

	text-decoration: none;

	color: #e46d62;
}

.view-all::after {
	content: url(../assets/svg/arrow-red.svg);
	margin-left: 8px;
}

/** Movie review section */

.movie-review {
	padding-bottom: 120px;
}

.review-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	row-gap: 32px;
	column-gap: 32px;
	padding: 0;
	list-style: none;

	.review-item {
		padding: 24px 32px;
		background-color: #2a2a2a;
		font-family: Heebo, cursive;
		font-style: normal;
	}

	.review-header {
		width: 100%;
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		column-gap: 12px;
		margin-bottom: 16px;
	}

	.review-avatar {
		width: 59px;
		height: 59px;
		border-radius: 50%;
		object-fit: cover;
	}

	.review-author-name {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;

		color: rgba(255, 255, 255, 0.5);
	}

	.review-rating {
		font-weight: 500;
		font-size: 16px;
		line-height: 32px;
		display: flex;
		align-items: center;
		column-gap: 8px;

		.star-icon {
			color: #f5c518;
			height: 20px;
			width: 20px;
		}
	}

	.review-content {
		padding-bottom: 24px;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
	}

	.review-publish-date {
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 0.5);
		text-align: right;
	}
}

/** Media query for the cast & crew and review section */

@media screen and (max-width: $mobile-break-point) {

	/** Movie cast and crew */

	.movie-cast-crew-list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 16px;
		row-gap: 16px;
	}

	.movie-cast-crew-image {
		height: 138px;
	}

	.movie-cast-crew-name {
		padding: 12px 20px;
		font-size: 14px;
	}

	.view-all-wrapper {
		height: 32px;
		margin-top: 24px;
		text-align: right;
		line-height: 32px;
	}

	.view-all {
		font-size: 16px;
		line-height: 32px;
	}


	/** Movie Review */

	.movie-review {
		padding-bottom: 64px;
	}

	.review-list {
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		.review-item {
			padding: 16px;
		}

		.review-header {
			column-gap: 8px;
			margin-bottom: 17px;
		}

		.review-avatar {
			width: 31px;
			height: 31px;
		}

		.review-author-name {
			font-size: 14px;
			line-height: 21px;
		}

		.review-rating {
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
		}

		.review-content {
			font-size: 14px;
			line-height: 24px;
		}

		.review-publish-date {
			font-size: 14px;
			line-height: 21px;

			.date-th {
				font-size: 10px;
				line-height: 16px;
			}
		}
	}
}
