/**
 * Person single page
 * It contains styles for cover and video section.
 */

/** Variables */

$primary-bg-color: #1f1f1f;
$accent-color: #d13223;
$mobile-break-point: 768px;
$nav-bg-color: #111;

@import "media";

/** Person */

.person-cover {
	display: flex;
	align-items: center;
	column-gap: 138px;
	padding: 35px 112px;
	color: #fff;
	font-family: Heebo, cursive;
	line-height: 32px;
}

.person-image {
	height: 572px;
	width: 488px;
	object-fit: cover;
}

.person-name-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	column-gap: 24px;
	margin-bottom: 24px;
}

.person-name {
	font-family: "Big Shoulders Display", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;
}

.person-full-name {
	font-weight: 400;
	font-size: 16px;
}

.person-table {
	font-weight: 400;
	font-size: 18px;

	tr,
	td {
		padding: 0 0 16px 0;
		border: none;
	}

	td:first-child {
		width: 176px;
	}

	.fab {
		color: #fff;
	}

	.person-social-list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 23px;

		.person-social-item img {
			height: 24px;
			width: 24px;
			object-fit: cover;
		}
	}
}

/** Person videos section */

.person-videos-section {
	margin-bottom: 120px;
}


/** Media Query for cover na video section */

@media screen and (max-width: $mobile-break-point) {

	/** Person */

	.person-cover {
		flex-direction: column;
		row-gap: 16px;
		padding: 0 24px;
	}

	.person-image {
		height: 286px;
		width: 224px;
		object-fit: cover;
	}

	.person-name-wrap {
		flex-direction: column;
		align-items: center;
		row-gap: 8px;
		margin-bottom: 32px;
	}

	.person-name {
		font-size: 32px;
		line-height: 40px;
	}

	.person-full-name {
		font-size: 14px;
	}

	.person-table {
		font-size: 14px;
		line-height: 24px;

		td {
			padding: 0 0 24px 0;
			border: none;
		}

		td:first-child {
			width: 156px;
		}

		tr:last-child td {
			padding: 0;
		}

		.person-social-list {
			display: flex;
			flex-wrap: wrap;
			column-gap: 24px;

			.person-social-item img {
				height: 20px;
				width: 20px;
			}
		}
	}


	/** Person videos section */

	.person-videos-section {
		margin-bottom: 64px;
	}
}
